body{
      background: url("/images/fondo.png");
      background-color: lightgrey;
      background-repeat: no-repeat;
      background-size: cover;
}

hr{
      color: #454545;
      background-color: #454545;
      height: 1px;
}


.flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
}
.full-height {
      height: 100vh;
}
.position-ref {
      position: relative;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
}

.barraNav .navbar-brand {
  height: 80px;
}

.barraNav .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.barraNav .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.fondo{
      background-color: #F5F5F5;
}

.rojo{
      background-color: red;
}
.azul{
      background-color: blue;
}
.amarillo{
      background-color: yellow;
}
